* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
    padding-top: 164px;
    background-color: #F9FAFB;
  }

  .container {
    width:55%;
    margin: auto;
  }

  img {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 48px;
  }

  .subheading {
    text-align: center;
    font-size: 20px;
    color: #6C727F;
    margin-bottom: 50px;
  }

  form {
    width:75%;
    margin:auto;
    padding: 20px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    background-color: #FFFFFF
  }

  #email {
    width:100%;
    padding: 16px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #F9FAFB;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    font-size: 16px;
    font-weight: 500;
    opacity: 70%;
  }

  #submit {
    width:100%;
    padding: 16px;
    background-color: #284BCE;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    margin-bottom: 20px;
  }

  .helper {
    font-size: 13px;
    text-align: center;
    color: #394150;

  }

  @media only screen and (max-width:640px) {
    body {
      padding-top: 140px;
    }
    .container {
      width:90%;
    }

    form {
      width:100%;
    }

    h1 {
      font-size: 32px;
    }

    .subheading {
      font-size: 16px;
    }
  }

  @media only screen and (min-width:1024px) {
    
    body {
      padding-top: 120px;
    }
    .container {
      width: 70%;
    }
  }

  @media only screen and (min-width:1280px) {
    
    body {
      padding-top: 100px;
    }
  }